{% extends 'modelo.html' %}

    {% block titulo %}
    <title>Quem Somos</title>
    {% endblock %}
    
    {% block destaque %}

    <header class="bg-success text-white text-center p-3">
        <h1>Quem Somos</h1>
    </header>

    {% endblock %}

    {% block conteudo %}
    <main class="container mt-4">

        <h2>Conheça mais sobre a Farm System</h2>

        <h5>Farm System é uma empresa inovadora no setor de monitoramento de agronegócio, dedicada a fornecer soluções tecnológicas avançadas para a gestão eficiente e sustentável das atividades agrícolas. Nossa missão é transformar dados em insights valiosos, ajudando produtores rurais a otimizar suas operações e aumentar a produtividade. </h5>

        
<h3>Missão:</h3> 

<h5>Capacitar produtores rurais com tecnologias de monitoramento de ponta, promovendo a eficiência operacional e a sustentabilidade no agronegócio.</h5>

<h3>Visão:</h3> 

<h5>Ser referência global em soluções tecnológicas para o agronegócio, contribuindo para um futuro agrícola mais inteligente e sustentável.</h5>

<h3>Produtos e Serviços</h3>

<h4>Monitoramento de Culturas</h4>

<H5>Uso de sensores IoT para coleta de dados em tempo real sobre condições do solo, umidade, temperatura e outros fatores críticos para o desenvolvimento das culturas.
Sistemas automatizados que otimizam o uso de água com base em dados precisos, economizando recursos e melhorando a saúde das plantas.</H5>

<h4>Diferenciais Competitivos</h4>
<H5>Tecnologia de Ponta:</H5> <h6></h6>Integração de IoT, inteligência artificial e análise de big data para fornecer insights precisos e acionáveis.</h6>
<h5>Suporte Especializado:</h5> Equipe de especialistas em agronomia e tecnologia agrícola para oferecer suporte personalizado e soluções adaptadas às necessidades de cada cliente.</h6>
<H5>Sustentabilidade:</H5> Foco em práticas agrícolas sustentáveis que promovem a conservação de recursos naturais e reduzem o impacto ambiental.</h6>
Interface Amigável: Plataformas e aplicativos desenhados para serem intuitivos e fáceis de usar, facilitando a adoção de tecnologia pelos produtores rurais.</h6>

<h4>Impacto e Resultados</h4>
<h5>Aumento da Produtividade:</h5> <h6>Nossas soluções permitem aos produtores otimizar suas operações, resultando em maior rendimento e eficiência.</h6>
<h5>Redução de Custos:</h5> <h6>Monitoramento preciso e gestão inteligente de recursos resultam em economia significativa para os produtores.</h6>
<h5>Sustentabilidade Ambiental:</h5><h6>Práticas de monitoramento que promovem o uso racional de recursos naturais, contribuindo para a sustentabilidade do agronegócio.</h6>

       
            
    </main>
{% endblock %}